body
{
    font-family: Helvetica, Arial, sans-serif;
    margin: 2em;
}

ul
{
    margin: 0 0 2em 0;
    padding: 0;
}

li.link
{
    margin-right: .5em;
    list-style-type: none;
    display: inline;
}

li.city
{
    width: 320px;
    height: 260px;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

ul li.city a img
{
	border: none;
}

li.city h3, li.city ul
{
    margin: 0.5em 0 0 .2em;
}

li.city h3
{
    margin-top: -1.35em;
}

li.file
{
    list-style-type: none;
}
